body {
    font-size: 1rem;
    line-height: 1.625;
}

.post {
    margin: 1rem 0 2rem;
    word-break: keep-all;
}

span#post_slug {
    word-break: break-word;
}

.body {
    margin: 1rem 0;
}

pre {
    display: block;
    padding: 1.5rem;
    background-color: #EAEAEA;
    border-radius: 0.5rem;
}

code {
    border: 1px solid #e83e8c;
    padding: 0.2em 0.3em;
    margin: 0 0.3em;
    border-radius: 0.3em;
}