<nav class="navbar navbar-expand flex-column navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ url_for('blog.index') }}">{{ blog_title }}</a>
  <div class="navbar-nav-scroll" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blog.about') }}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu dropdown-menu-left">
          {% for c in categories %}
          <a id="c_{{ c['id'] }}" class="dropdown-item" href="{{ url_for('blog.index_category', category_slug=c['slug']) }}">{{ c['name'] }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" data-toggle="collapse" data-target="#searchbar" aria-controls="searchbar" aria-expanded="false">Search</a>
      </li>
      {% if g.user %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm-left">
          <a class="dropdown-item" href="{{ url_for('blog.create') }}">New Post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('admin.settings') }}">Settings</a>
          <a class="dropdown-item" href="{{ url_for('admin.account') }}">Account</a>
          <a class="dropdown-item" href="{{ url_for('admin.categories') }}">Categories</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      {% endif %}
    </ul>
    <form class="collapse my-2 my-lg-0" id="searchbar" role="search" action="{{ url_for('blog.index') }}" method="get">
      <input class="form-control mr-sm-2 my-lg-0" type="search" id="search-input" name="q" autocomplete="off" placeholder="Search by keyword">
    </form>
  </div>
</nav>