{% extends 'base.html' %}

{% block title %}{{ post['title'] or 'About' }} | {% endblock %}

{% block content %}
  <article class="post">
    <header>
      <div>
        <h2 class="text-primary mb-4">{{ post['title'] }}
          {% if g.user['id'] %}
            <a role="button" class="btn btn-secondary btn-sm ml-2" href="{{ url_for('blog.edit_about') }}">Edit</a>
          {% endif %}
        </h2>
      </div>
    </header>
    <div class="body">
      {{ post['body']|safe }}
    </div>
  </article>
{% endblock %}