{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
  <script>
    /* Enable tooltips in bootstrap */
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
{% endblock %}

{% block title %}Create New Post | {% endblock %}

{% block content %}
  <form id="create" class="form-group" method="post">
    <label for="title" class="mt-3">Title</label>
    <input name="title" id="title" class="form-control form-control-lg" type="text" value="{{ request.form['title'] }}" placeholder="Enter title" maxlength="100" required autofocus>

    <label for="slug" class="mt-3">Post URL slug</label>
    <span class="text-primary" data-toggle="tooltip" data-placement="right" title="Blank spaces, special chars except hyphen(-) are not allowed.">(?)</span>
    <div class="input-group">
      <input name="slug" id="slug" class="form-control" type="text" value="{{ request.form['slug'] }}" maxlength="200" placeholder="Enter URL slug" required readonly>
      <div class="input-group-append">
        <button type="button" form="create" name="btn_edit_slug" id="btn_edit_slug" class="btn btn-primary" value="Edit" disabled>Edit</button>
      </div>
    </div>

    <label for="category" class="mt-3">Category</label>
    <div class="form-group mb-4">
      <select name="category" id="category" class="custom-select" required>
        {% for c in categories %}
        <option value="{{ c['id'] }}"{% if c['name'] == default_category['name'] %} selected{% endif %}>{{ c['name'] }}</option>
        {% endfor %}
      </select>
    </div>

    <label for="summernote" class="d-none">Body</label>
    <textarea name="body" id="summernote" class="form-control" form="create">{{ request.form['body'] }}</textarea>
    <script>
      $('#summernote').summernote({
        placeholder: 'Enter some content here.',
        tabsize: 2,
        height: 250,
        prettifyHtml:false,
        codeviewFilter: true,
        codeviewIframeFilter: true,
        toolbar:[
          ['style', ['style']],
          ['font', ['bold', 'italic', 'underline']],
          ['color', ['forecolor']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['insert', ['link', 'picture', 'video', 'hr']],
          ['view', ['fullscreen', 'codeview']],
          ]
      });
    </script>
    <button type="submit" name="submit" id="submit" class="btn btn-primary btn-lg btn-block mt-4 mb-4" value="Submit" disabled>Submit</button>
  </form>
{% endblock %}

{% block script %}
  <script type="module" src="{{ url_for('static', filename='script.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='post.js') }}"></script>
{% endblock %}