{% extends 'base.html' %}

{% block content %}
  <div class="row mt-3">
    <div id="admin_nav" class="d-none d-md-block col-md-3 mb-3 list-group">
      <a href="{{ url_for('admin.settings') }}" class="list-group-item list-group-item-action{% if current == 'settings' %} active{% endif %}">Settings</a>
      <a href="{{ url_for('admin.account') }}" class="list-group-item list-group-item-action{% if current == 'account' %} active{% endif %}">Account</a>
      <a href="{{ url_for('admin.categories') }}" class="list-group-item list-group-item-action{% if current == 'categories' %} active{% endif %}">Categories</a>
    </div>
    <div class="d-block d-md-block col-md-9">
      {% block admin_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}